$cor-de-fundo: #000;
$caixa-shadow: 5px 5px 5px 10px #ffa500;

.row{
    p{
    background-color: $cor-de-fundo;
    margin: auto 5vw;
    border: 5px solid #DF0000;
    border-radius: 5vw;
    box-shadow: $caixa-shadow;
    
        color: #0000ff;
    
}
}

.col-xm{
    
        background-color: #fff;
        margin: 5vh auto;
        padding: 2vh 0;
        font-size: 2rem;
        border-radius: 5px;
        text-align: center;
        color: #0000 ! important;
   
    
}

