//UTILIZANDO ARQUIVOS PARTIALS
@import 'quebraPagina';


//CRIANDO MIXIN
@mixin meumixin ($tamanho-fonte, $cor-shadow){
    text-align: center;
    font-family: 'Trebuchet MS';
    box-shadow: 3px 5px 5px 5px $cor-shadow;
    border: solid 2px #000;
    border-radius: 5px;
    font-size: $tamanho-fonte;
}

// CRIANDO VARIÁVEIS
$cor-de-fundo : #161010;
$cor-do-texto : #fff;

body{
    background-color: $cor-de-fundo;
    color: $cor-do-texto;
    $uma-cor-qualquer: #fff000;

    //TRABALHANDO COM ESCOPO
    .divTeste {
        p{
            
            @include meumixin(1.2rem,#fff000);

            &:hover{
                color: $cor-do-texto;
            }
            &:only-child{
                background-color: #ccc;
            }
        }
    } 

    h1{
        @include meumixin(2rem,#0ff000);
    }
}

